<footer>

   <div class="foot">

       <div class="colonneFoot">
           <span>Mentions légales</span>
           <span>FAQ</span>
           <span>Plan de site</span>
       </div>

   </div>

</footer>